<h3 class="text-center">Filter Section</h3>
<div class="category">
    <label>
        <input type="checkbox" > Top Wear
    </label>
</div>
<div class="category">
    <label>
        <input type="checkbox" > Bottom Wear
    </label>
</div>
<div class="category">
    <label>
        <input type="checkbox" > Shirt
    </label>
</div>
<div class="category">
    <label>
        <input type="checkbox" > T-Shirt
    </label>
</div>
<div class="category">
    <label>
        <input type="checkbox" > $0 - $50 price
    </label>
</div>
<div class="category">
    <label>
        <input type="checkbox" > $100 - $200 price
    </label>
</div>