<div class="row mt-2">
    <div class="col-md-12">
        <slider class="mt-3"></slider> <!-- Add margin-top to create a gap -->
    </div>
</div>
<div class="container justify-content-around">
<div class="row">
  <!-- Men's Fashion Card -->
  <div class="col-md-6">
   <blog [imageUrl]="'assets/images/blog-post/mens-collection6.webp'"></blog>
  </div>

  <!-- Women's Fashion Card -->
  <div class="col-md-6">
    <blog [imageUrl]="'assets/images/blog-post/womens-collection.webp'"></blog>
  </div>
</div>
</div>

<top-deals id="top-deal"></top-deals>
<top-wear id="men-wear"></top-wear>
<women-wear id="women-wear"></women-wear>
